.cnameFooter {
    color: azure;
    background-color: black;
    font-family: 'Zen Kaku Gothic Antique', sans-serif;
    font-weight: 300;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 4rem; 
}