

.cnameMenuitem {
    text-decoration: none;
    color: white;
    transition: all 0.2s ease-out;
}

.cnameMenuitem:hover {
    text-decoration: none;
    color: rgb(0, 0, 0);
    background-color: #EFF1F3;
    border-radius: 4px;
    padding: 0.5rem 1rem;
}


.navStyle {
    font-family: 'Zen Kaku Gothic Antique', sans-serif;
    font-weight: 300;
    background: black;
    padding: 1%;
    display: grid;
    grid-template-columns: repeat(5, auto);
    grid-gap: 30px;
    list-style: none;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size:1.5rem;
    height: 3rem;

}

.menuIcon {
    display: none;
}


@media screen and (max-width: 720px) {
    .navStyle {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: auto;
        position: absolute;
        top: 80px;
        opacity: 0;
        transition: all 0.5s ease;
        border-radius: 4px;
        z-index: 0;
    }

    .navStyle.active {
        display: flex;
        flex-direction: column;
        width: 100%;
        position: absolute;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 1;
    }

    .menuIcon {
        color: #ffff;
        padding: 0.5rem 0.5rem;
        display: flex;
        position: absolute;
        top: 0;
        right: 0;
        transform: translate(-80%, 50%);
        cursor: pointer;
        z-index: 1;
    }

    .menuIcon:hover, .menuIcon:active {
        color: rgb(0, 0, 0);
        background-color: #EFF1F3;
        border-radius: 4px;
        transition: all 0.2s ease-out;
    }

    .menuIcon:link, .menuIcon:visited {

        transition: all 0.2s ease-out;
    }
    
}