.App {
  text-align: center;
  background-color: #99E1D9;
  min-height: 100vh;

}

.bodyGame {
  background-color: white;
  width: 60%;
  margin: auto;
  min-height: 100vh;
}


@media screen and (max-width: 900px) {
    .bodyGame {
      width: 100%;
    }
}