* { padding: 0; margin: 0; box-sizing: border-box;}

html, body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Zen Kaku Gothic Antique', sans-serif;
}

